/* some style */

.reselect div.selected {
  color: red;
}

.reselect div.filtred {
  display: none;
}

.reselect div.custom-select {
  max-height: 100px;
  overflow-y: scroll;
}

.reselect div.custom-option:hover,
.reselect div.custom-option.hover {
  background-color: blue;
}

.reselect div.custom-option-selected:hover {
  background-color: red;
}
